.classpath
.project
gen/
libs/
project.properties
proguard-project.txt
res/values-v11/
res/values-v14/styles.xml
res/values/strings.xml
res/drawable-hdpi/ic_launcher.png
res/drawable-mdpi/ic_launcher.png
res/drawable-xhdpi/ic_launcher.png
res/values/styles.xml
bin/AndroidManifest.xml
bin/classes/android/support/v7/appcompat/R$anim.class
bin/classes/
bin/res/crunch/
bin/dexedLibs/android-support-v7-appcompat-acbd1baf4e392888b301292b74084465.jar
bin/resources.ap_
bin/R.txt
bin/jarlist.cache
bin/classes.dex
